In [1]:
# import the packages
import re
import pandas as pd
import matplotlib.pyplot as plt

### Import the chat.txt
> 1. Read the chat form the chat folder
> 2. define the regex `pattern` for seperating `Date_Time`, `User`, `Messages`

#### Improvements
> 1. Write device independent regex as an or condition with `|` symbol and try to capture the same result in a different notebook
>
>  [ğŸ”— Android Chat Notebook](exp_android.ipynb)
>

In [2]:
with open('./chats/_chat_mac.txt') as f:
    content = f.read()
    pattern = r'\[(.*?)\] (.*?): (.*)'
    matches = re.findall(pattern, content)
    df = pd.DataFrame(matches, columns=["Date_Time", "User", "Message"])

df.head()

,Date_Time,User,Message
0,"26/11/23, 7:02:07â€¯PM",GDSC TIU Freshers (2023 batch),â€Messages and calls are end-to-end encrypted. ...
1,"29/08/23, 4:09:24â€¯PM",â€ª+91Â 97481Â 96908â€¬,â€â€ª+91Â 97481Â 96908â€¬ created group â€œGDSC TIU Fre...
2,"26/11/23, 8:03:40â€¯PM",â€ª+91Â 98833Â 49314â€¬,â€video omitted
3,"26/11/23, 9:27:29â€¯PM",â€ª+91Â 80099Â 32451â€¬,â€image omitted
4,"26/11/23, 9:29:02â€¯PM",â€ª+91Â 80099Â 32451â€¬,And ignore sample data pls

#### Split the `Date_Time` column into date and time in order to have some more flexiblity

For now just drop the `Time` column.

In [3]:
# fix the data and time
df[['Date', 'Time']] = df.Date_Time.str.split(',', expand=True)
df.drop(["Date_Time", "Time"], axis=1, inplace=True)
df.head()

,User,Message,Date
0,GDSC TIU Freshers (2023 batch),â€Messages and calls are end-to-end encrypted. ...,26/11/23
1,â€ª+91Â 97481Â 96908â€¬,â€â€ª+91Â 97481Â 96908â€¬ created group â€œGDSC TIU Fre...,29/08/23
2,â€ª+91Â 98833Â 49314â€¬,â€video omitted,26/11/23
3,â€ª+91Â 80099Â 32451â€¬,â€image omitted,26/11/23
4,â€ª+91Â 80099Â 32451â€¬,And ignore sample data pls,26/11/23

In [5]:
# df['Date'] = pd.to_datetime(df['Date'], format="%dd/%mm/%Y")

df['Date'] = pd.to_datetime(df['Date'], format="mixed")
df.head()

,User,Message,Date
0,GDSC TIU Freshers (2023 batch),â€Messages and calls are end-to-end encrypted. ...,2023-11-26
1,â€ª+91Â 97481Â 96908â€¬,â€â€ª+91Â 97481Â 96908â€¬ created group â€œGDSC TIU Fre...,2023-08-29
2,â€ª+91Â 98833Â 49314â€¬,â€video omitted,2023-11-26
3,â€ª+91Â 80099Â 32451â€¬,â€image omitted,2023-11-26
4,â€ª+91Â 80099Â 32451â€¬,And ignore sample data pls,2023-11-26

In [6]:
df.dtypes

User               object
Message            object
Date       datetime64[ns]
dtype: object

In [7]:
df.head()

,User,Message,Date
0,GDSC TIU Freshers (2023 batch),â€Messages and calls are end-to-end encrypted. ...,2023-11-26
1,â€ª+91Â 97481Â 96908â€¬,â€â€ª+91Â 97481Â 96908â€¬ created group â€œGDSC TIU Fre...,2023-08-29
2,â€ª+91Â 98833Â 49314â€¬,â€video omitted,2023-11-26
3,â€ª+91Â 80099Â 32451â€¬,â€image omitted,2023-11-26
4,â€ª+91Â 80099Â 32451â€¬,And ignore sample data pls,2023-11-26

In [8]:
import datetime
df[df["Date"] > '10-01-24']

,User,Message,Date
3380,â€ª+91Â 97481Â 96908â€¬,Hey guys one thing I want to share( those who ...,2024-11-01
3381,â€ª+91Â 90646Â 46997â€¬,interested for non team first,2024-11-01
3382,â€ª+91Â 97481Â 96908â€¬,And what's benefits of being a core member?,2024-11-01
3383,â€ª+91Â 90646Â 46997â€¬,then tech team bhaiya â¤ï¸â¤ï¸,2024-11-01
3384,â€ª+91Â 97481Â 96908â€¬,And koi chahe to tech non tech both me apply k...,2024-11-01
...,...,...,...
5989,â€ª+91Â 85509Â 03573â€¬,â€â€ª+91Â 85509Â 03573â€¬ joined using this group's i...,2024-12-02
5990,Raaz Pandey,â€Raaz Pandey joined using this group's invite ...,2024-12-02
5991,â€ª+91Â 70013Â 99631â€¬,â€image omitted,2024-12-02
5992,â€ª+91Â 80178Â 06837â€¬,Vue??,2024-12-02
5993,â€ª+91Â 70013Â 99631â€¬,Hm,2024-12-02

In [15]:
df[df.Message.str.contains("assignment", case=False)]

,User,Message,Date
805,â€ª+91Â 73659Â 28810â€¬,"Amra ki assignment korbo na , korbo na amra as...",2023-04-12
2350,â€ª+91Â 94770Â 70371â€¬,"Since, it ain't my assignment",2023-12-22
2724,â€ª+91Â 93342Â 71718â€¬,Ami chollam Assignment korte,2023-12-25
2919,â€ª+91Â 73659Â 28810â€¬,"literally, bhalo self development cholche . Tr...",2023-12-30
4273,â€ª+91Â 80178Â 06837â€¬,"Also I forgot to write that assignment too, wr...",2024-01-18

In [ ]:
import spacy
 
# Load spaCy English model
nlp = spacy.load("en_core_web_sm")
 
# Sample text
text = "There is a pen on the table"
 
# Process the text using spaCy
doc = nlp(text)
 
# Remove stopwords
filtered_words = [token.text for token in doc if not token.is_stop]
 
# Join the filtered words to form a clean text
clean_text = ' '.join(filtered_words)
 
print("Original Text:", text)
print("Text after Stopword Removal:", clean_text)